<head>
  <link rel="shortcut icon" type="image/x-icon" href="https://cdn.glitch.com/997c958d-dbf6-40e1-af70-f6eab80f99d3%2FEpic%20gamer.png?v=1605813697453" />
  <title>The Epic Gamer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
</head>


<style>
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color:black;
  }
  
  .topnav a {
    float: none;
    width: fit-content;
    height: fit-content;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
  }
  









</style>
  
  